.root {
  display: flex;
  flex-direction: column;
}

.header {
  flex: none;
  font-size: 20px;
}

.playerContainer {
  composes: center from '../../styles/common.pcss';

  flex-grow: 1;
}

.player {
  overflow: hidden;
  aspect-ratio: 1920 / 1080;
  width: 80%;
  max-height: 80vh;
}
